<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="uploader" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <table>
      <tr>
        <td><input type="submit" value="Fetch" id="fetch"></td>
        <td><input type="submit" value="Update" id="update"></td>
        <td><input type="submit" value="Delete" id="delete"></td>
      </tr>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#fetch').click(function() {
          $.ajax({
            type: 'GET',
            url: 'fetch',
            success: function(data) {
              console.log('Success!');
            },
            error: function(data) {
              console.log('Error!');
            }
          });
        });
        
        $('#update').click(function() {
          $.ajax({
            type: 'PUT',
            url: 'update',
            success: function(data) {
              console.log('Success!');
            },
            error: function(data) {
              console.log('Error!');
            }
          });
        });

        $('#delete').click(function() {
          $.ajax({
            type: 'DELETE',
            url: 'delete',
            success: function(data) {
              console.log('Success!');
            },
            error: function(data) {
              console.log('Error!');
            }
          });
        });
      });
    </script>
  </body>
</html>
