<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "{{ url_for('static', filename='styles/style.css') }}" />
        <title>File Upload</title>
    </head>
    <body>
        <div class="main-div background-color">
            <p id="header" class="upload-content">
                Welcome to the NYSE/ICE: File upload task
            </p>
        </div>
        <div class="container-div">
            <div class="flexbox-prop main-div">
                <p class="text-style div-heading">
                    <b><u> Company Info: </u></b>
                </p>
                <div class="flexbox-prop add-company-container">
                    <div class="toast">
                        <i class="fas"></i>
                        <span class="toast-text"></span>
                    </div>
                    <div>
                        <input type="number" class="inputbox-design text-style" id="company-id" placeholder="company id"/>
                        <input type="text"class="inputbox-design text-style" id="company-name" placeholder="company name"/>
                        <button class="inputbox-design background-color text-style add-button" id="add_company">
                            <b>Add</b>
                        </button>
                    </div>
                </div>
                <div class="company-table">
                    <table class="table-style" id="company-list"> </table>
                </div>
            </div>
            <div class="flexbox-prop main-div">
                <p class="text-style div-heading">
                    <b><u> Upload your file here: </u></b>
                </p>
                <form id="upload-file" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <label for="file"></label>
                        <input name="file" type="file" id="file-upload" class="text-style"/>
                    </fieldset>
                    <fieldset>
                        <button id="upload-file-btn" class="inputbox-design background-color text-style" type="button" > Submit </button>
                    </fieldset>
                </form>
                <div class="upload-text-container format-style background-color">
                    <span class="upload-content">Format: CSV, TXT</span>
                    <span class="upload-content">Min rows: 5</span>
                </div>
            </div>
            <div class="flexbox-prop main-div" id="detail-data-block" >
                <p class="text-style div-heading">
                    <b><u> Share price detail: </u></b>
                </p>
                <div class="detail-data">
                    <table class="table-style" id="company-detail-data"> </table>
                </div>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/d5a054cd54.js"crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>