<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "{{ url_for('static', filename='styles/style_v2.css') }}" />
        <title></title>
    </head>
    <body>
        <p  id="header" class="upload-content"> Welcome to the NYSE/ICE: File upload task</p>
        <div class="flexbox-prop main-div">
            <div class="flexbox-prop add-company-container">
                <div>
                    <input type="text" class="text-design upload-text" id="company-id" placeholder="company id" />
                    <input type="text" class="text-design upload-text" id="company-name" placeholder="company name" />
                    <button class="btn-design upload-text" id="add_company"> <b>Add Company</b></button>
                </div>
                <!-- <button class="btn-design upload-text fetch-btn" id="fetch_companies"> <b>Fetch companies </b></button> -->
            </div>
            <table class="table-style"> </table>
            <form method="POST" action="uploader" enctype="multipart/form-data">
                <p class="file-name upload-text"></p>
                <p><input type="submit" class="btn-design upload-text submit-btn" value="Add file data"></p>
                <div class="parent-div">
                    <label htmlFor="fileUpload" class="upload-button upload-button-container">
                        <i class="fas fa-file-upload icon-style"></i>
                        <p class="upload-text">Import File</p>
                        <input accept=".csv, .txt" class="upload-input" onchange="readfile(this)" id="fileUpload"
                            type="file" name="file" />
                    </label>
                </div>
            </form>
            <div class="upload-text-container">
                <span class="upload-content">File format: CSV, TXT</span>
                <span class="upload-content">Min rows: 5</span>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/d5a054cd54.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            function readfile(file) {
                $(".file-name").html('');
                const fileName = file.files[0].name;
                $(".file-name").append("File Name: ".concat(fileName));
                $(".file-name").css('display', 'block');
                $(".submit-btn").css('display', 'block');
                //window.location.href="https://www.google.com/"
            }
        </script>
    </body>
    <script type="text/javascript">
        $(document).ready(function() {
            getCompanyList();
            function getCompanyList() {
                $.ajax({
                    type: 'GET',
                    url: 'get/existed/company/list/v1',
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function(data, status, xhr) {
                        let html = "";
                        html += "<tr>";
                        html += "<th class='table-header upload-content'>" + 'Company Id' + "</th>";
                        html += "<th class='table-header upload-content'>" + 'Company Name' + "</th>";
                        html += "</tr>";
                        $.each(data.data, function (key, value) {
                            html += "<tr>";
                            html += "<td>" + value.cid + "</td>";
                            html += "<td>" + value.cname + "</td>";
                            html += "</tr>";
                        });
                        $('.table-style').html(html);

                    },
                    error: function(data, status, xhr) {
                        console.log('Error in company fetch!');
                    }
                });
            }
            // $('#fetch_companies').click(function() {
            //     getCompanyList();
            // });
            $('#add_company').click(function() {
                const c_id = $("#company-id" ).val();
                const c_name = $("#company-name" ).val();
                const data = {
                    c_id,
                    c_name
                }
                $.ajax({
                    type: 'PUT',
                    url: 'add/new/company/list/v1',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify({"data": data}),
                    success: function(data, status, xhr) {
                        console.log(data)
                        getCompanyList();

                    },
                    error: function(data, status, xhr) {
                        console.log('Error in company add!');
                    }
                });
            });
        });
    </script>
</html>
