<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form id="upload-file" method="post" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <button id="upload-file-btn" type="button">Upload</button>
      <!-- <p><input type="submit" value="Submit" id="file_upload"></p> -->
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#upload-file-btn').click(function() {
          var form_data = new FormData($('#upload-file')[0]);
          console.log(form_data)
          $.ajax({
              type: 'POST',
              url: 'uploader',
              data: form_data,
              contentType: false,
              cache: false,
              processData: false,
              success: function(data) {
                  console.log('Success!');
              },
              error: function(data) {
                  console.log('Error!');
              }
          });
        });        
      });
    </script>
  </body>
</html>